.custom-container {
    margin-top: 80px;
    padding-left: 0px;
    padding-right: 0px;
}

/* back to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    color: gray;
    cursor: pointer;
    padding: 15px;
    text-decoration: none;
    opacity: 0.5;
}

#myBtn:hover {
    color: #555;
    opacity: 1;
}

.circle-body {
    width: 150px;
    height: 150px;
    margin: 0 auto 35px auto;

    border-radius: 100%;
    background-color: #0067d0;
    transition: transform 1s ease-in-out;
    color: #ffffff;
}

.circle-process-body {
    width: 220px;
    height: 220px;
    margin: 0 auto 35px auto;

    border-radius: 100%;
    border: 30px solid #EBEBEB;
    background-color: #ffffff;
    transition: transform 1s ease-in-out;
    color: #6388CF;
}

.circle-box {
    height: 360px;
    padding: 60px 20px;
    margin: 0 auto 14px auto;
    background-color: #0067d0;
    transition: all 0.5s;
    color: white;

}

.circle-box:hover {
    background-color: #f4f3f3;
    box-shadow: 0 0 20px #aaa;
    color: black;
}

.circle-box i {
    color: inherit;
}

.circle-box:hover i {
    color: #94be3d;
}

.transition_style {
    transition: all 0.5s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.transition_style:hover {
    /*transform: scale(1.02);*/
    transform: translateY(-5px);
    box-shadow: 0 0 5px #aaa;
}

.main-low-margin {

}

.product-image {
    height: 300px;
    width: auto;
}

.thumbnail-image {
    width: 70px;
    height: 70px;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.thumbnail-image:hover, .thumbnail-image.active {
    border-color: #0067d0;
}

.breadcrumb-style {
    padding: 5px;
    margin: 5px;
    background-color: #f4f3f3;
}

.facebook-icon {
    color: #8b8b8b;
    transition: color 0.2s ease; /* 添加过渡效果 */
}

.facebook-icon:hover {
    color: #1877F2; /* 鼠标划过时的颜色 */
}

.line-icon {
    color: #8b8b8b;
    transition: color 0.2s ease; /* 添加过渡效果 */
}

.line-icon:hover {
    color: #00C300; /* 鼠标划过时的颜色 */
}

.twitter-icon {
    color: #8b8b8b;
    transition: color 0.2s ease; /* 添加过渡效果 */
}

.twitter-icon:hover {
    color: #1651ce; /* 鼠标划过时的颜色 */
}

.skype-icon {
    color: #8b8b8b;
    transition: color 0.2s ease; /* 添加过渡效果 */
}

.skype-icon:hover {
    color: #00aff0; /* 鼠标划过时的颜色 */
}

.light-move {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.light-move:after {
    position: absolute;
    left: -100%;
    top: 0;
    width: 50%;
    height: 100%;
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(-45deg);
    pointer-events: none;
}

.light-move:hover:after {
    left: 150%;
    transition: 1s ease;
}

.alert-floating {
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* 确保它在其他内容之上 */
    text-align: center; /* 确保文本居中 */
}

.hr-style {
    border-bottom: 1px dashed #c2aeae; /* 使用 dashed 实现虚线 */
    width: 80%;
    margin: 20px auto;
    text-align: center;

}

.advantage-style {
    width: 100%;
    height: 325px;
    background-color: #f4f3f3;
    padding: 50px 20px 6px;
    box-sizing: border-box;
    overflow: hidden;

}

.advantage-image-hover {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.advantage-image-hover:after {
    position: absolute;
    left: -100%;
    top: 0;
    width: 50%;
    height: 100%;
    content: "";
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
    transform: skewX(-45deg);
    pointer-events: none;
}

.advantage-image-hover:hover:after {
    left: 150%;
    transition: 1s ease;
}

.advantage-image-hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 使 img 宽度占满 div */
    height: 100%; /* 使 img 高度占满 div */
    object-fit: cover; /* 确保图片覆盖整个 div */
    transition: transform 0.5s;
}

.advantage-image-hover img:hover {
    transform: scale(1.02);
    transform-origin: center center;
}


.about-background {
    background-image: url("/static/img/about_us_background_img.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.about-us-style {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    box-shadow: 0 0 15px #aaa;
}

.index-container-style {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    box-shadow: 0 0 15px #e7e7e7;
}

.company-style {
    box-shadow: 0 0 10px #e6e6e6;
}

.company-image-style {
    transition: all 1s;
    border: 1px solid white;
}


.company-image-style:hover {
    transform: scale(1.02);
    box-shadow: 0 0 5px #0cbeff;
    border: 1px solid #0cbeff;
}

.hovered {
    transform: scale(1.02);
    box-shadow: 0 0 5px #0cbeff;
    border: 1px solid #0cbeff;
}

.process-image {
    background-image: url("/static/img/custom process.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    min-height: 600px;
    width: 100%;
}

.photo-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    border: 1px solid grey;
}

.photo-container img {
    width: 100px;
    height: auto;
}

.photo-container .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.products-background {
    background-image: url("/static/img/products-image.jpg");
    min-height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.no-style {
    text-decoration: none;
}

.slick-item .slick-slide {
    margin: 0 15px;
}