{% extends 'base.html' %}

{% block title %}Product{% endblock %}
{% block nav_company %}
    active
{% endblock %}

{% block content %}
    <div class="section bg-secondary custom-container">
        <img src="{{ url_for('static', filename='img/company-image.jpg') }}" alt="background-image" class="img-fluid">
    </div>

    <section class="mt-5 bg-white">
        <div class="container">
            <div class="row my-5 text-center">
                <div class="col-md-4">
                    <div class="circle-body d-flex align-items-center justify-content-center"><i
                            class="fa-solid fa-circle-nodes fa-5x"></i></div>
                    <h3>300-350 Millions USD Turnover</h3>
                </div>
                <div class="col-md-4">
                    <div class="circle-body d-flex align-items-center justify-content-center"><i
                            class="fa-solid fa-screwdriver-wrench fa-5x"></i></div>
                    <h3>70 Sets of Processing Equipment</h3>
                </div>
                <div class="col-md-4">
                    <div class="circle-body d-flex align-items-center justify-content-center"><i
                            class="fa-solid fa-users fa-5x"></i></div>
                    <h3>40-50 Employees</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5 bg-light">
        <div class="container pt-5">
            <!-- about us -->
            <div class="row text-center py-4 mt-5 company-style">
                <h1 class="text-center py-2">About Us</h1>
                <div class="col-md-5 g-0 d-flex align-items-center">
                    <div class="mx-3 p-4 company-hover">
                        <p class="lh-lg">HANYUN MOLD was founded in 2010, is a factory specializing in the
                            production of standard slide core unit, precision positioning, various types of sliders,
                            non-standard slide core units etc. The company is located in Shenzhen and continues to
                            develop with its superior geographical location. With more than 10 years of experience in
                            slide core units, we have mastered every production step and know how to produce
                            high-quality slides at low cost. In order to shorten the delivery time, we always keep a
                            large of semi-inventory and finished products all over year. Looking forward to hearing from
                            you soon.</p>
                    </div>
                </div>
                <div class="col-md-7 g-0" style="overflow: hidden;">
                    <img alt="about-us" src="{{ url_for('static', filename='img/company-image01.jpg') }}"
                         class="image-fluid h-100 company-image-style">
                </div>
            </div>
            <!-- Production Equipment -->
            <div class="row text-center py-4 mt-5 company-style">
                <h1>Production Equipment</h1>
                <p class="lh-lg">With Advanced Production Equipment, such as Agie Charmilles CUT 20P wire cutting, EDM
                    (Taiwan miki),
                    surface grinding machine (Taiwan DAWN and Japan OKAMOTO), CNC (Taiwan and Japan Mori Seiki) etc, we
                    always provide you high quality products. </p>
                <div class="col-md-3">
                    <div class="card company-image-style">
                        <img src="{{ url_for('static', filename='img/company-image02.jpg') }}" alt="company-image"
                             class="image-fluid w-100">
                        <div class="card-body">
                            <p class="card-text">CNC Machine</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card company-image-style">
                        <img src="{{ url_for('static', filename='img/company-image03.jpg') }}" alt="company-image"
                             class="image-fluid w-100">
                        <div class="card-body">
                            <p class="card-text">Milling Machine</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card company-image-style">
                        <img src="{{ url_for('static', filename='img/company-image04.jpg') }}" alt="company-image"
                             class="image-fluid w-100">
                        <div class="card-body">
                            <p class="card-text">EDM Machine</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card company-image-style">
                        <img src="{{ url_for('static', filename='img/company-image05.jpg') }}" alt="company-image"
                             class="image-fluid w-100">
                        <div class="card-body">
                            <p class="card-text">Grinding Machine</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Quality department -->
            <div class="row text-center py-4 mt-5 company-style">
                <h1>Quality Department</h1>
                <p class="lh-lg px-5">We firmly believe that good quality is the long-term development of an enterprise,
                    so
                    we inspect every production step. We have professional inspection personnel to ensure that every
                    product is 100% inspected. Customer satisfaction is our goal.</p>
                <div class="col-md-3">
                    <div class="card company-image-style">
                        <img src="{{ url_for('static', filename='img/qualitydepartment01.jpg') }}" alt="company-image"
                             class="image-fluid h-100">
                        <div class="card-body">
                            <p class="card-text">Laser Machine</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card company-image-style">
                        <img src="{{ url_for('static', filename='img/qualitydepartment02.jpg') }}" alt="company-image"
                             class="image-fluid h-100">
                        <div class="card-body">
                            <p class="card-text">Height Measurer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card company-image-style">
                        <img src="{{ url_for('static', filename='img/qualitydepartment03.jpg') }}" alt="company-image"
                             class="image-fluid h-100">
                        <div class="card-body">
                            <p class="card-text">Hardness Tester</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card company-image-style">
                        <img src="{{ url_for('static', filename='img/qualitydepartment04.jpg') }}" alt="company-image"
                             class="image-fluid h-100">
                        <div class="card-body">
                            <p class="card-text">CMM</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- WAREHOUSE  -->
            <div class="row text-center py-4 mt-5 company-style">
                <h1>Warehouse</h1>
                <p class="lh-lg px-5">In order to keep a large amount of semi-finished products and finished products
                    all
                    over year, the warehouse is very important to us. Our warehouse has an area of 200 square meters.
                    All
                    products are placed according to their names and models, it is easy for us to find the corresponding
                    location of the product and to know the remaining quantity in the warehouse, and we can quickly ship
                    the
                    goods to customers.
                </p>
                <div class="col-md-6">
                    <div class="card company-image-style">
                        <img src="{{ url_for('static', filename='img/warehouse01.jpg') }}" alt="company-image"
                             class="image-fluid w-100">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card company-image-style">
                        <img src="{{ url_for('static', filename='img/warehouse02.jpg') }}" alt="company-image"
                             class="image-fluid w-100">
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}