{% extends 'base.html' %}

{% block title %}Product{% endblock %}
{% block nav_contact %}
    active
{% endblock %}

{% block content %}
    <div class="section bg-secondary custom-container">
        <img src="{{ url_for('static', filename='img/contact.jpg') }}" alt="background-image" class="img-fluid">
    </div>

    <section class="bg-light">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h5>{{ websiteinfo.company_name }}</h5>
                    <h5>Add: {{ websiteinfo.company_address }}</h5>
                    <h5 class="mb-5">Email: {{ websiteinfo.company_email }}</h5>
                    <p>If you have any questions, please send us message.</p>
                    <div class="mb-3">
                        <label for="name" class="form-label">Your name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Your email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">content</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="15"></textarea>
                    </div>
                    <button class="btn btn-primary btn-md">Submit</button>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </section>
{% endblock %}