{% extends 'base.html' %}

{% block title %}Product{% endblock %}
{% block nav_contact %}
    active
{% endblock %}

{% block content %}
    <div class="section bg-secondary py-5 custom-container">
        <div class="container">
            <div class="row text-light">
                <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                    <h2>Product Introduce</h2>
                    <h6 class="lh-lg">
                        some text some text some text some text some text some text some text some text some text some
                        text some text some text some text some text some text some text some text some text some text
                        some text some text some text some text some text some text some text some text some text some
                        text some text some text some text some text some text some text some text some text some text
                        some text some text some text some text some text some text some text some text some text some
                        text some text some text some text some text some text some text some text some text some text
                        some text some text some text some text some text some text some text some text some text some
                        text some text some text some text some text some text some text
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <section class="text-center bg-light">
        <div class="container">

        </div>
    </section>
{% endblock %}