{% extends 'base.html' %}

{% block title %}Add product{% endblock %}

{% block content %}
    <div class="section bg-white py-5 custom-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form method="POST" enctype="multipart/form-data" class="form">
                        {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ form.description.label(class="form-label") }}
                            {{ form.description(class="form-control") }}
                            {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
                            {{ ckeditor.config(name='description:') }}
                        </div>
                        <div class="mb-3">
                            {{ form.photos.label(class="form-label") }}
                            {{ form.photos(class="form-control", multiple=True, onchange="validateFiles(this)") }}
                        </div>
                        <div class="mb-3">
                            {{ form.submit(class="btn btn-primary btn-md") }}
                            {{ form.cancel(class="btn btn-secondary btn-md") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function validateFiles(input) {
            const maxSize = 3 * 1024 * 1024; // 3MB
            const files = input.files;
            for (let i = 0; i < files.length; i++) {
                if (files[i].size > maxSize) {
                    alert(`文件 ${files[i].name} 过大，上传的文件大小不能超过3MB`);
                    input.value = ""; // Clear the input
                    return;
                }
            }
        }
    </script>
{% endblock %}