{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock %}
{% block nav_products %}
    active
{% endblock %}

{% block content %}
    <div class="section bg-secondary custom-container">
        <img src="{{ url_for('static', filename='img/product-image.jpg') }}" alt="background-image" class="img-fluid">
    </div>
    <section class="text-center bg-light">
        <div class="container">
            <nav aria-label="breadcrumb" class="mt-2 mb-3">
                <ol class="breadcrumb p-2 breadcrumb-style">
                    <li class="breadcrumb-item">
                        <a href="{{ url_for('index') }}"
                           class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">HOME
                        </a>
                    </li>
                    <li class="breadcrumb-item">{{ category.name }}</li>
                    <li class="breadcrumb-item active" aria-current="page">PRODUCTS</li>
                </ol>
            </nav>
            <div class="row">
                {% include '_slide_category.html' %}
                <div class="col-md-9">
                    <div class="py-3 bg-white shadow">{{ category.name }}</div>
                    <div class="row">
                        {% if ejector_products %}
                            {% for product in ejector_products %}
                                <div class="col-md-3 col-sm-6 my-2">
                                    <div class="card my-3 transition_style">
                                        <div class="light-move">
                                            <a href="{{ url_for('product', product_id=product.id) }}">
                                                {% set photo = product.photos|first %}
                                                {% if photo %}
                                                    <img src="{{ url_for('get_image', filename=photo.filename) }}"
                                                         alt="{{ product.name }}" style="width: 220px;height: auto;">
                                                {% else %}
                                                    <img class="card-img-top"
                                                         src="{{ url_for('static', filename='img/no_product.jpg') }}"
                                                         alt="Card image cap">
                                                {% endif %}
                                            </a>
                                        </div>
                                        <a href="{{ url_for('product', product_id=product.id) }}"
                                           class="p-3 btn btn-sm">{{ product.name }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="h1">no products</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}