{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block nav_home %}
    active
{% endblock %}

{% block content %}
    <!-- banner -->
    <div class="container-fluid custom-container">
        <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='img/banner01.png') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/banner02.png') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/banner03.png') }}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='img/banner04.png') }}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <section>
        <div class="container-fluid">
            <!-- 一行 row，中等及以上屏幕三列 -->
            <div class="row g-2">
                <!-- 图片 1 -->
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="image-card">
                        <img src="{{ url_for('static', filename='img/mold-design.jpg') }}" alt="Mold Design"
                             class="img-fluid">
                        <div class="overlay">
                            <p>Mold Design</p>
                        </div>
                    </div>
                </div>
                <!-- 图片 2 -->
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="image-card">
                        <img src="{{ url_for('static', filename='img/mold-marking.jpg') }}" alt="Mold Making"
                             class="img-fluid">
                        <div class="overlay">
                            <p>Mold Making</p>
                        </div>
                    </div>
                </div>
                <!-- 图片 3 -->
                <div class="col-md-4 col-sm-6 col-12">
                    <div class="image-card">
                        <img src="{{ url_for('static', filename='img/molding.jpg') }}" alt="Molding" class="img-fluid">
                        <div class="overlay">
                            <p>Molding</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- about us -->
    <section class="py-5 bg-white">
        <div class="container-fluid">
            <div class="row g-2">
                <div class="col-md-4 g-0">
                    <img alt="about-us" src="{{ url_for('static', filename='img/about_us_image.jpg') }}"
                         class="image-fluid w-100">
                </div>
                <div class="col-md-8 g-0 index-container-style d-flex align-items-center">
                    <div class="px-5">
                        <h3>ABOUT US</h3>
                        <hr class="border-2 border-primary mb-3">
                        <p class="lh-lg fs-5 about-text">{{ about.content }}</p>
                        <div class="d-flex justify-content-end pe-5">
                            <a href="{{ url_for('company') }}" class="btn btn-primary ms-auto">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-light">
        <h2 class="text-center">PRODUCT CATEGORY</h2>
        <h4 class="text-center text-secondary pb-5">Focus on providing customers with high-quality products</h4>
        <div class="container-fluid">
            <div class="row g-3">

                <!-- 左侧卡片  -->
                <div class="col-lg-5">
                    <a href="{{ url_for('category', category_id=0) }}" class="product-card big-card">
                        <div class="sub-title">HOT-SALE</div>
                        <div class="d-flex align-items-center gap-2 mb-3 icon-btn-wrapper">
                            <i class="fa-solid fa-circle-chevron-right fa-2x align-middle"
                               style="color: rgb(0, 166, 60);"></i>
                            <h3 class="main-title d-inline-block align-middle mb-0">HOT-SALE PRODUCTS</h3>
                        </div>
                        <div class="product-img-wrapper">
                            <img src="{{ url_for('static', filename='img/hot-sale000.png') }}"
                                 alt="HOT-SALE PRODUCTS">
                        </div>
                    </a>
                </div>

                <!-- 右侧卡片 -->
                <div class="col-lg-7">
                    <div class="row g-3">
{#                        {% for category in categories %}#}
{#                        <div class="col-6">#}
{#                            <a href="{{ url_for('category', category_id=category.id) }}" class="product-card small-card">#}
{#                                <div class="sub-title">HOT-SALE</div>#}
{#                                <div class="d-flex align-items-center gap-2 mb-3 icon-btn-wrapper">#}
{#                                    <i class="fa-solid fa-circle-chevron-right fa-2x align-middle"#}
{#                                       style="color: rgb(0, 166, 60);"></i>#}
{#                                    <h3 class="main-title d-inline-block align-middle mb-0">{{ category.name }}</h3>#}
{#                                </div>#}
{#                                <div class="product-img-wrapper">#}
{#                                    <img src="{{ url_for('static', filename='img/hot-sale002.png') }}"#}
{#                                         alt="{{ category.name }}">#}
{#                                </div>#}
{#                            </a>#}
{#                        </div>#}
{#                        {% endfor %}#}
                        <!-- 小卡片 1 -->
                        <div class="col-6">
                            <a href="{{ url_for('category', category_id=1) }}" class="product-card small-card">
                                <div class="sub-title">HOT-SALE</div>
                                <div class="d-flex align-items-center gap-2 mb-3 icon-btn-wrapper">
                                    <i class="fa-solid fa-circle-chevron-right fa-2x align-middle"
                                       style="color: rgb(0, 166, 60);"></i>
                                    <h3 class="main-title d-inline-block align-middle mb-0">Household Silicone Products</h3>
                                </div>
                                <div class="product-img-wrapper">
                                    <img src="{{ url_for('static', filename='img/hot-sale002.png') }}"
                                         alt="Household Silicone Products">
                                </div>
                            </a>
                        </div>
                        <!-- 小卡片 2 -->
                        <div class="col-6">
                            <a href="{{ url_for('category', category_id=2) }}" class="product-card small-card">
                                <div class="sub-title">HOT-SALE</div>
                                <div class="d-flex align-items-center gap-2 mb-3 icon-btn-wrapper">
                                    <i class="fa-solid fa-circle-chevron-right fa-2x align-middle"
                                       style="color: rgb(0, 166, 60);"></i>
                                    <h3 class="main-title d-inline-block align-middle mb-0">Medical‑Grade Silicone
                                        Parts</h3>
                                </div>
                                <div class="product-img-wrapper">
                                    <img src="{{ url_for('static', filename='img/hot-sale001.png') }}"
                                         alt="Medical‑Grade Silicone Parts">
                                </div>
                            </a>
                        </div>
                        <!-- 小卡片 3 -->
                        <div class="col-6">
                            <a href="{{ url_for('category', category_id=3) }}" class="product-card small-card">
                                <div class="sub-title">HOT-SALE</div>
                                <div class="d-flex align-items-center gap-2 mb-3 icon-btn-wrapper">
                                    <i class="fa-solid fa-circle-chevron-right fa-2x align-middle"
                                       style="color: rgb(0, 166, 60);"></i>
                                    <h3 class="main-title d-inline-block align-middle mb-0">Electronic Silicone
                                        Accessories</h3>
                                </div>
                                <div class="product-img-wrapper">
                                    <img src="{{ url_for('static', filename='img/hot-sale003.png') }}"
                                         alt="Electronic Silicone Accessories">
                                </div>
                            </a>
                        </div>
                        <!-- 小卡片 4 -->
                        <div class="col-6">
                            <a href="{{ url_for('category', category_id=4) }}" class="product-card small-card">
                                <div class="sub-title">HOT-SALE</div>
                                <div class="d-flex align-items-center gap-2 mb-3 icon-btn-wrapper">
                                    <i class="fa-solid fa-circle-chevron-right fa-2x align-middle"
                                       style="color: rgb(0, 166, 60);"></i>
                                    <h3 class="main-title d-inline-block align-middle mb-0">Industrial Silicone
                                        Components</h3>
                                </div>
                                <div class="product-img-wrapper">
                                    <img src="{{ url_for('static', filename='img/hot-sale004.png') }}"
                                         alt="Industrial Silicone Components">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="py-5 bg-white mb-5">
        <div class="container-fluid">
            <!-- 标题 -->
            <div class="row mb-5">
                <div class="col text-center">
                    <h2 class="fw-bold">Technical Capabilities</h2>
                </div>
            </div>

            <div class="row g-4">
                <!-- 卡片1 -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card h-100 text-center border rounded-3 card-overlap">
                        <div class="img-overlap-wrap">
                            <!-- rounded-circle Bootstrap原生圆形类，控制圆形 -->
                            <img src="{{ url_for('static', filename='img/rounded-image01.jpg') }}"
                                 alt="Liquid Silicone Rubber Injection Molding"
                                 class="img-fluid rounded-circle"
                                 style="max-height:140px; object-fit:cover;">
                        </div>
                        <div class="card-body px-4 pt-0">
                            <h4 class="card-title text-primary fs-4 mb-3">Liquid Silicone Rubber Injection Molding</h4>
                            <p class="card-text text-secondary fs-5">
                                With rich expertise in LSR injection molding, we deliver custom liquid silicone
                                components, such as silicone buttons, keypads, housings and various custom silicone
                                parts.
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-0 pb-4">
                            <a href="{{ url_for('technology') }}#lsr-injection-molding" class="btn btn-primary ms-auto">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- 卡片2 -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card h-100 text-center border rounded-3 card-overlap">
                        <div class="img-overlap-wrap">
                            <img src="{{ url_for('static', filename='img/rounded-image02.jpg') }}"
                                 alt="Silicone Rubber Compression Molding"
                                 class="img-fluid rounded-circle"
                                 style="max-height:140px; object-fit:cover;">
                        </div>
                        <div class="card-body px-4 pt-0">
                            <h4 class="card-title text-primary fs-4 mb-3">Silicone Rubber Compression Molding</h4>
                            <p class="card-text text-secondary fs-5">
                                Backed by decades of industry experience, we provide premium solid silicone compression
                                molding solutions. We support both small‑batch and mass production of keypads, gaskets,
                                key fobs and other silicone molded items.
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-0 pb-4">
                            <a href="{{ url_for('technology') }}#compression-molding" class="btn btn-primary ms-auto">Read More</a>
                        </div>
                    </div>
                </div>

                <!-- 卡片3 -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card h-100 text-center border rounded-3 card-overlap">
                        <div class="img-overlap-wrap">
                            <img src="{{ url_for('static', filename='img/rounded-image03.jpg') }}"
                                 alt="Liquid Silicone Rubber Overmolding"
                                 class="img-fluid rounded-circle"
                                 style="max-height:140px; object-fit:cover;">
                        </div>
                        <div class="card-body px-4 pt-0">
                            <h4 class="card-title text-primary fs-4 mb-3">Liquid Silicone Rubber Overmolding</h4>
                            <p class="card-text text-secondary fs-5">
                                Also known as two‑shot molding, silicone overmolding bonds liquid silicone onto plastic
                                or metal substrates. This technology enhances product performance, simplifies assembly,
                                and delivers superior waterproof and dustproof sealing performance.
                            </p>
                        </div>
                        <div class="card-footer bg-transparent border-0 pb-4">
                            <a href="{{ url_for('technology') }}#overmolding" class="btn btn-primary ms-auto">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}