{% extends 'base.html' %}

{% block title %}Product{% endblock %}

<div class="section bg-dark">
    <div class="container">
        <div class="row custom-container text-light">
            <div class="col-md-10 offset-md-1 col-sm-10 offset-sm-1">
                <h2>Precision Machining</h2>
                <h6>
                    Precision Machining are continually expanding our range of modern CNC Mill machines, which are
                    capable of precision machining complex multi-axis precision components, in batches from 1's to
                    1000's. Having the capabilities to work with a wide range of materials such as Steel,Stainless,
                    SteelTungsten,Titanium,Inconel,Hastelloy,Tool Steels,Aluminum,Brass,Plastics etc, gives us the
                    flexibility to work on all CNC Manufacturing projects and we can advise you on the most suitable
                    material for your engineering requirements.
                </h6>
            </div>
        </div>
    </div>
</div>