{% extends 'base.html' %}

{% block title %}Product{% endblock %}
{% block nav_products %}
    active
{% endblock %}

{% block content %}
    <div class="section bg-secondary custom-container">
        <img src="{{ url_for('static', filename='img/products-image.jpg') }}" alt="background-image" class="img-fluid">
    </div>
    <section class="text-center bg-light">
        <div class="container">
            <nav aria-label="breadcrumb" class="mt-2 mb-3">
                <ol class="breadcrumb p-2 breadcrumb-style">
                    <li class="breadcrumb-item">
                        <a href="{{ url_for('index') }}"
                           class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">HOME
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">PRODUCTS</li>
                </ol>
            </nav>
            <div class="row">
                {% for product in products %}
                    <div class="col-md-3 col-sm-6 col-12 my-2">
                        <div class="card my-3 transition_style">
                            <div class="light-move">
                                <a href="{{ url_for('product', product_id=product.id) }}">
                                    {% set photo = product.photos|first %}
                                    {% if photo %}
                                        <img src="{{ url_for('get_image', filename=photo.filename) }}"
                                             alt="{{ product.name }}" style="width: 300px;height: auto;">
                                    {% else %}
                                        <img class="card-img-top"
                                             src="{{ url_for('static', filename='img/no_product.jpg') }}"
                                             alt="Card image cap">
                                    {% endif %}
                                </a>
                            </div>
                            <a href="{{ url_for('product', product_id=product.id) }}"
                               class="p-3 btn btn-sm">{{ product.name }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}